<main data-role="game-container" class="game-container">
    <h2>game</h2>

    <div class="game-container__grid">

        <div game-role="text" class="game-container__cell"></div>
        <div class="game-container__cell game-container__cell--answer">
            <section game-role="answer" class="key-section">
            </section>
        </div>

    </div>


    <template id="text-section">

        <section class="message-section">

            <div class="message-section__frame">
                <article class="message-section__container">
                    <p class="message-section__message" data-populate="encodedMessage"></p>
                    <p class="message-section__message message-section__message--decoded"
                        data-populate="decodedMessage">
                    </p>
                </article>
            </div>
            <p data-populate="isSolved"></p>
        </section>
    </template>

    <template id="key-control">
        <div class="key-control">
            <label class="key-control__label">
                <span data-populate="encodedCharacter"></span>
                <span class="key-control__count">
                    [<span data-populate="characterCount"></span>]
                </span>
            </label>
            <input type="text" maxlength="1" />
        </div>
    </template>
</main>