<main data-role="game-container">
    <h2>game</h2>

    <section game-role="text" style="font-family: monospace;">
    </section>

    <section game-role="answer" style="font-family: monospace; background-color:yellow; padding:.25rem;">
    </section>


    <template id="text-section">
        <p data-populate="encodedMessage"></p>
        <p data-populate="decodedMessage"></p>
        <p data-populate="isSolved"></p>
    </template>

    <template id="key-control">
        <div style="display: inline-flex; margin-bottom:.25rem">
            <span>
                <span data-populate="encodedCharacter"></span>=
            </span>
            <input type="text" maxlength="1" style="width: 3rem;"/>
        </div>
    </template>
</main>
