<!DOCTYPE html>
<html lang="en">
{{> layout/head title="homepage"}}

<body>
    <h1>Homepage</h1>
    <a href="about.html">about</a>

    {{> layout/footer year="1068"}}

    <script src="./js/index.js"></script>
</body>

</html>