$controlWidth: 5rem;
$controlMargin: .05rem;
$controlBorder: 2px;
$labelWidth: 3.25rem;
$sectionMax: 5 * ($controlWidth + $controlMargin*2 );
$inputWidth: 1.25rem;

.key-section {
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    top: 1px;
    position: sticky;
    max-width: $sectionMax;
}

.key-control {
    display: inline-flex;
    align-items: center; 
    box-sizing: border-box;
    padding: .1rem .2rem;

    background-color: whitesmoke;
    border: $controlBorder outset whitesmoke;
    margin: $controlMargin;
    width: $controlWidth;

    label {
        min-width: $labelWidth;
        font-family: monospace;
        font-size: large;
    }

    input {
        box-sizing: border-box;
        width: $inputWidth;
        text-align: center;
        color: red;
        font-family: monospace;
        text-transform: uppercase;
    }

    &__count {
        font-size: small;
        font-weight: 700;
        font-family: math;
    }
}
