.key-section {
    border-top: 3px double gray;
    padding: .25rem;
    box-sizing: border-box;
}

.key-control {
    display: inline-flex;
    align-items: center; 
    box-sizing: border-box;
    margin-bottom:.25rem;
    width: 5rem;
    padding: .1rem;

    label {
        flex-basis: 2.75rem;
        font-family: monospace;
        font-size: large;
    }

    input {
        box-sizing: border-box;
        width: 1.5rem;
        text-align: center;
        color: red;
        font-family: monospace;
        text-transform: uppercase;
    }

    &__count {
        font-size: small;
        font-weight: 700;
        font-family: math;
    }
}
