.key-section {
    background-color: aquamarine;
    padding: .5rem;
    box-sizing: border-box;
}

.key-control {
    display: inline-flex;
    align-items: center; 
    box-sizing: border-box;
    margin-bottom:.25rem;
    width: 4rem;
    padding: .1rem;

    label {
        flex-basis: 2.5rem;
    }

    input {
        width: 1.5rem;
        text-align: center;
    }
}