.message-section {

    &__frame {
        border: 3px inset whitesmoke;
        padding: .25rem;
        background-color: whitesmoke;
        max-width: 50rem;
    }

    &__container {
        position: relative;
        padding: 0;
    }

    &__message {
        position: relative;
        font-family: monospace;
        font-size: large;
        line-height: 3em;
        margin: 0;
        word-wrap: break-word;
        text-align: justify;

        &--decoded {
            color: red;
            position: absolute;
            top: -1em;
        }
    }
}
